In [2]:
import pandas as pd
import matplotlib as mp
import seaborn as sns
import time

In [3]:
merged = pd.read_csv('merg_data.csv')

In [4]:
merged.head()

,Unnamed: 0,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Ent,Ext,day_of_week,month
0,0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,03:00:00,RECOVR AUD,6527780,2210496,NaN,NaN,Saturday,2
1,1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,07:00:00,REGULAR,6527794,2210507,14.0,11.0,Saturday,2
2,2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,11:00:00,REGULAR,6527838,2210585,44.0,78.0,Saturday,2
3,3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,15:00:00,REGULAR,6527994,2210644,156.0,59.0,Saturday,2
4,4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-02-24,19:00:00,REGULAR,6528278,2210705,284.0,61.0,Saturday,2